.tabs{
    width: 90%;
    justify-content: space-between;
    align-items: baseline;
    position: sticky;
    top: 0;
    left: 0;
    padding: 1rem 0;
    background-color: #fafafa;
}

.tabs button{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    font-size: .95rem;
    letter-spacing: .1rem;
}