.sidebar{
    padding: 0 1rem;
    min-width: 300px;
    max-height: 95vh;
    position: relative;
    overflow-y: scroll;
}

.sidebar-header{
    display: flex;
    align-items: center;
    padding: 1rem 0 2rem .5rem;
    justify-content: space-between;
    position: sticky;
    top: 0rem;
    left: 0rem;
    z-index: 1;
    background-color:#fafafa;
}

.selected-note{
    color: white;
    padding: 1rem;
    font-size: .9rem;
    line-height: 1.5;
    border-radius: 3px;
    /* background-color: #1a163d; */
    background-color: #1c2a5a;
}

.notes{
    list-style-type: none;
    color: #6b6b6b;
}

.notes{
    padding: 0;
}

.notes > li{
    position: relative;
    padding: .9rem .6rem;
    cursor: pointer;
    border-bottom: 1px solid #1c2a5a1f;
}

.unselected-note:hover{
    background-color: #f0f1f5;
}

.selected-note:hover{
    background-color: #152044;
}

/* .grid-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-max(100px, auto);
    /* grid-auto-columns: 1rem; 
    grid-gap: 5px;
    min-width: 340px;
    /* max-width: 100%; */
    /* margin: 0 auto; 
} */

.grid-1{
    display: flex;
    flex-direction: column;
}

.date{
    margin-bottom: .5rem;
    font-size: .8rem;
}

.deep{
    color: #77809e;
}

.light{
    color: #bfc4d3;
}

.summary-title{
    font-size: 1rem;
}

.btn-delete{
    position: absolute;
    right: 0;
    top: 1rem;
}

.btn-delete:hover{
    color: #b1b5c4;
}