.button{
    margin: 1rem 0 0 0;
    padding: .5rem 1rem;
    background-color: #329ff8;
    color: white;
    border-radius: .2rem;
}

.disappearing-btn{
    opacity: 0;
    transition: .5s ease;
}

.disappearing-btn:hover{
    opacity: 1;
    transition: .5s ease;
}